@import "variables";

.footer {
    margin-top: 100px;
    bottom: 0;
    position: static;
    background-color: $gray;
}
.footer-content {
    height: 65px;
    text-align: center;
}
.footer-content div a {
    margin: 0;
    color: white;
}
.footer-content div a span {
    margin: 0;
    line-height: 50px;
    vertical-align: middle;
}
.col-footer {
    margin-top: 5px;
}


.content {
    margin-top: 120px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}
.logo {
    height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.presentation-container {
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 99999;
  position: absolute;
  background-color: black;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.navbar-affix {
  transition: all 1s;
  font-size: 22px;
  padding: 20px;
}
.navbar-affixed {
  padding: 0;
  transition: all 1s;
}